# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Don Hinton
	email = hintonda@gmail.com
[core]
	editor = emacs
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" -- graph -- date=short
